
body {
 background-image: url("background.jpg");
 background-repeat: no-repeat;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;

}

html, body
{
  height: 100%;
}

h1{
	color: white;
	font: arial;
	text-align: center;
}

#SudokuTable {
	border-collapse: collapse;
	width: 30%;
	height: 30%;
}

.box{
	border-collapse: collapse;
	border: 1px solid black;	
}		

input {
	text-align: center;	
	font-size: x-large;
	border-style: groove;
	height: 50px;
	width: 50px;

}
.initialValue{
	font-weight: bold;
	color: #0033CC;
	background-color: #E0F0FF;	
}

#submit, #clear {
	width: 160px;
	height: 51px;
	color: white;
	text-align: center;
	background-color: #30A0EA;
	font-weight: bold;
	cursor: pointer;
	border: 2px outset white;
}

#showResult{
	color: white;
	font-weight: bold;
	margin: 5px;
	font-size: x-large;	
}

.tableBottom{
	margin: 5px;
}

#checkPartial{
	width: 55px;
	height:48px;
	border: 2px outset white;
	margin-top: 3px;
	cursor: pointer;
	margin-bottom: -18px;
}


